extends ../_layout

block content
  .page-header
    h2 
      | Profile information

    form.form-horizontal
          input(type="hidden")
          .form-group
            label.col-sm-3.control-label(for="username") Username:
            .col-sm-7
              if user.username 
                | #{user.username}
              else
               | #{user.facebook.name}
          input(type="hidden")
          .form-group
            label.col-sm-3.control-label(for="email") Email:
            .col-sm-7
              | #{user.email}
          input(type="hidden")
          .form-group
            label.col-sm-3.control-label(for="pictire") Picture:
            if user.facebook.picture
              a(href="" + user.facebook.picture) Picture
            else
              | No picture
            