include _mixins/_loged-user-navigation
include _mixins/_no-user-navigation


<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title The Events Rush: 
        block site-title
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/static/css/site.css")
    block styles

    script(src="/static/bower_components/jquery/dist/jquery.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")
    block headScripts
body
    header
        if user
            +site-loged-user-navigation
        else
            +site-no-user-navigation
    #content.container
        block content