extends ../_layout

block content
    if model
        h2= model.name

        ul
            each event in model.events
                li
                    a(href="/events/" + event.id)= event.name
                       